<header class="navbar ui-border-b">
    <div id="selectCityBtn" class="pos pos-left l-gray">
        <a class="l-city">北京<i class="icon-arrowdown"></i></a>
    </div>
    <h2 class="hdtitle ui-nowrap">
        <a href="acts/create.html">
            <img class="logo" src="http://hello13.net/projects/party178/static/img/logo.png" alt="178" />发起邀约
        </a>
    </h2>
    <!-- 若未登录，则不显示此div -->
    <div class="navbar-user pos pos-right c-lgray l-lgray">
        <div class="nav-user">
            <a href="users/home.html">
                <div class="avatar-hd">
                    <!-- 若登录为提交头像则显示照相机，否则显示头像 -->
                    <!-- <img src="static/img/icon-photo.jpg" /> -->
                    <img src="http://hello13.net/projects/party178/static/img/avatar.png" />
                </div>
            </a>
        </div>
    </div>
</header><!-- header end -->