#container{width:570px; margin:0;text-align:left;}
#map{float:right;border:3px solid #000;margin:10px 0 10px 0;}
#area td{width:28px; height:28px;}
button{width:100px;border-radius:10px;height:100px;margin-top: 1000px;}