//colors
$color_casper_approx: rgb(174,189,204);
$color_wild_sand_approx: rgb(243,245,247);
$black: #000;
$color_mountain_mist_approx: #999;
$color_silver_chalice_approx: #aaa;
$black_20: rgba(0, 0, 0, 0.2);
$white: #fff;
$color_bright_red_approx: #a00;
$color_storm_dust_approx: #666;
$color_mine_shaft_approx: #333;
$color_wild_blue_yonder_approx: #8085c1;
