/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; 
  -webkit-font-smoothing: antialiased;
}

body {
  background: url("../images/plain_field.jpg") no-repeat fixed;
  background-size: 100% 100%;
  font: 13.34px helvetica, arial, clean, sans-serif;
  color: white;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  padding-top: 3em;
  margin-top: -1em;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

blockquote p {
  border: 1pt solid rgb(174,189,204);
  background-color: rgb(243,245,247);
  padding: 5pt;
  font-family: courier,monospace;
  font-size: 0.9em;
  color: #000;
  overflow: auto;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #999;
}

table {
  font-size: inherit;
  font: 100%;
}

::-webkit-scrollbar-track-piece {
  background-color: #f4f4f4;
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #000;
  -webkit-border-radius: 2px;
  outline-offset: -2px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

.wrap {
  background-color: black;
  opacity: .6;
  width: 50em;
  min-height: 150%;
  margin: -4em auto 0 auto;
  left:0px;
  right:0px;
  position: fixed;
  z-index: -1;
}

.poem {
  font: 2em bold "Microsoft YaHei"; 
}

/*****************************************************************************/
/*
/* Top-bar
/*
/*****************************************************************************/
header{
  top: 0;
  width: 100%;
  height: 2em;
  background: black;
  position: fixed;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  padding-top: 1em;
  z-index: 10;
  text-align: center;
}
  header a {
    text-decoration: none;
  }

  header a.extra {
    color: #aaa;
    margin-left: 1em;
  }

  header a.extra:hover {
    color: white;
  }

nav {
  margin: 0 auto;
  width: 53em;
  display: inline-block;
  padding: 0 1.5em;
}  
  nav .signal {
    float: left;
    display: inline;
  }

  nav .signal a {
    color: #a00;
    font-size: 1.3em;
    margin-right:16.5em;
    top: 0px;
    position: relative;
  }
  
  nav .menu {
    float: right;
    display: inline;
  }
    nav .menu dl {
      float: left;
    }

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
article {
  min-height: 50%;
  padding-top: 3em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
section {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #333;
  margin-top: 2em;
  overflow: hidden;
}  
  footer .contact {
    float: left;
    margin-right: 3em;
  }    
    footer .contact a {
      color: #8085C1;
    }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
}

  /* standard */
  #post h1 {
    margin-top: 0px;
    padding-top: 0px;
  }

  #post strong {
    color: #a6e22e;
  }

  #post pre {
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/* Comments */
.ds-thread {
  margin-top: 3em;
}
  #ds-thread #ds-reset .ds-replybox .ds-post-toolbar{
    box-shadow: none;
  }

.ds-meta, .ds-powered-by, .ds-comments-info {
  display: none;
}

#ds-reset p{
  color: #fff;
}
  #ds-reset .ds-highlight{
    font-weight: bold;
  }
  #ds-reset .ds-avatar img {
    width: 54px !important;
    height: 54px !important;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  #ds-reset .ds-avatar img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }


/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
.wrap_proj {
  -webkit-box-shadow:2px 5px 6px #000;
  -moz-box-shadow:2px 5px 6px #000;

  background: black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:1em;
}

.wrap_proj:hover {
  -webkit-transform: perspective(600px) translateZ(30px);
  -moz-transform: perspective(600px) translateZ(30px);
  -o-transform: perspective(600px) translateZ(30px);
  transform: perspective(600px) translateZ(30px);
}

.wrap_proj a{
  text-decoration: none;
  font-weight: bold;
}

#preview{
  padding-top: 15px;
}

  #preview img{
    max-width: 584px;
  }

/*****************************************************************************/
/*
/* Plugins
/*
/*****************************************************************************/
.backToTop {
    display: none;
    width: 3.7em;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 40px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}