@charset "UTF-8";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px;
  height: 100%; }

body {
  height: 100%;
  font: 0.16rem helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center; }

h1 {
  font-size: 100%;
  padding-top: 3em;
  margin-top: -1em;
  margin-bottom: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p {
  margin: 1em 0; }

a {
  color: #000;
  text-decoration: none; }
  a:visited {
    color: #000; }
  a:hover {
    color: #999; }

table {
  font-size: inherit;
  font: 100%; }

header {
  width: 100%;
  height: .44rem;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header a {
    text-decoration: none; }
    header a.extra {
      color: #aaa;
      margin-left: 1em; }
      header a.extra:hover {
        color: #fff; }

nav {
  margin: 0 auto;
  width: 40%;
  padding: 0 0.24rem;
  display: inline-block;
  height: .44rem;
  color: #333; }
  nav .slogan {
    float: left;
    display: inline;
    text-align: left; }
    nav .slogan a {
      color: #333;
      font-size: .24rem;
      line-height: .44rem; }
  nav .menu {
    float: right;
    display: inline; }
    nav .menu dl {
      float: left; }

article {
  min-height: 50%;
  padding-top: .24rem; }

section {
  font-size: 110%;
  text-align: left;
  width: 40%;
  margin: 0 auto;
  padding: 0.44rem 0.24rem 0;
  line-height: 1.5em; }

footer {
  font-size: .14rem;
  color: #666;
  border-top: 4px solid #333;
  margin-top: 2em;
  overflow: hidden;
  text-align: justify; }
  footer .contact {
    display: inline-block;
    width: 50%; }
    footer .contact a {
      color: #8085c1; }
    footer .contact:nth-of-type(2) {
      text-align: right; }

.icon {
  font-family: "fontawesome"; }

/*****************************************************************************/
#related {
  margin-top: .3rem; }
  #related h2 {
    margin-bottom: .1rem; }

.wrap_proj {
  background: #000;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 1em; }
  .wrap_proj:hover {
    transform: perspective(600px) translateZ(30px); }
  .wrap_proj a {
    text-decoration: none;
    font-weight: bold; }

#preview {
  padding-top: 15px; }
  #preview img {
    max-width: 584px; }

.backToTop {
  display: none;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
  position: fixed;
  right: 1em;
  bottom: 40px;
  cursor: pointer; }

.posts {
  list-style-type: none; }
  .posts li {
    line-height: 1.7; }
  .posts span {
    color: #aaa;
    font-family: Monaco, Courier New, monospace;
    font-size: 80%; }

#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff; }
  #post pre.terminal code {
    background-color: #333; }

@font-face {
  font-family: "fontawesome";
  src: url("../font/fontawesome-webfont.woff?v1") format("woff"); }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  * {
    box-sizing: border-box; }
  header, nav, section {
    width: 100%; }
  header .slogan {
    display: block; }
  header .menu {
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    header .menu .menu-icon {
      display: inline-block;
      font-size: .24rem;
      line-height: .44rem; }
      header .menu .menu-icon:before {
        content: ""; }
    header .menu .menu-list {
      display: none; }
  header .menu-expand {
    border-radius: .05rem;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 0 0.1rem 0.1rem;
    margin-right: -.11rem;
    margin-top: .05rem; }
    header .menu-expand .menu-icon {
      margin-top: -.06rem; }
    header .menu-expand .menu-list {
      display: block;
      overflow: hidden; }
      header .menu-expand .menu-list dl {
        font-size: .16rem;
        float: none;
        height: .24rem; }
        header .menu-expand .menu-list dl a {
          color: #777; }
          header .menu-expand .menu-list dl a:link, header .menu-expand .menu-list dl a:visited, header .menu-expand .menu-list dl a:hover, header .menu-expand .menu-list dl a:active {
            color: #777; }
  .github-fork {
    display: none; } }
