@charset "UTF-8";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px;
  height: 100%; }

body {
  height: 100%;
  font: 0.16rem helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center; }

h1 {
  font-size: 100%;
  margin-top: .3rem;
  margin-bottom: .12rem; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p {
  margin: 1em 0; }

a {
  color: #000;
  text-decoration: none; }
  a:visited {
    color: #000; }
  a:hover {
    color: #999; }

table {
  font-size: inherit;
  font: 100%; }

header {
  width: 100%;
  height: .44rem;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header a {
    text-decoration: none; }
    header a.extra {
      color: #aaa;
      margin-left: 1em; }
      header a.extra:hover {
        color: #fff; }

nav {
  margin: 0 auto;
  width: 60%;
  min-width: 3.75rem;
  padding: 0 0.24rem;
  display: inline-block;
  height: .44rem;
  color: #333; }
  nav .slogan {
    float: left;
    display: inline;
    text-align: left; }
    nav .slogan a {
      color: #333;
      font-size: .24rem;
      line-height: .44rem; }
  nav .menu {
    float: right;
    display: inline;
    line-height: .44rem; }
    nav .menu dl {
      float: left;
      font-size: .16rem;
      height: .24rem;
      line-height: .44rem; }
      nav .menu dl a {
        color: #777; }
        nav .menu dl a:link, nav .menu dl a:visited, nav .menu dl a:hover, nav .menu dl a:active {
          color: #777; }

article {
  min-height: 50%;
  padding-top: .24rem; }

section {
  font-size: 110%;
  text-align: left;
  width: 60%;
  min-width: 3.75rem;
  margin: 0 auto;
  padding: 0.44rem 0.24rem 0;
  line-height: 1.5em; }

footer {
  font-size: .14rem;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 2em;
  overflow: hidden;
  text-align: justify; }
  footer .contact {
    display: inline-block;
    width: 50%; }
    footer .contact a {
      color: #8085c1; }
    footer .contact:nth-of-type(2) {
      text-align: right; }

.icon {
  font-family: "fontawesome"; }

.github-fork img {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100; }

/*****************************************************************************/
#related {
  margin-top: .3rem; }
  #related h2 {
    margin-bottom: .1rem; }

.wrap_proj {
  background: #000;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 1em; }
  .wrap_proj:hover {
    transform: perspective(600px) translateZ(30px); }
  .wrap_proj a {
    text-decoration: none;
    font-weight: bold; }

#preview {
  padding-top: 15px; }
  #preview img {
    max-width: 584px; }

.backToTop {
  display: none;
  width: .3rem;
  height: .3rem;
  line-height: .26rem;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: fixed;
  right: .22rem;
  bottom: .4rem;
  cursor: pointer;
  border: 2px solid white; }
  .backToTop:before {
    content: "";
    font-size: .16rem; }

.posts {
  list-style-type: none;
  width: 100%; }
  .posts li {
    line-height: 1.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .posts span {
    color: #aaa;
    font-family: Monaco, Courier New, monospace;
    font-size: 80%; }

#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff; }
  #post pre.terminal code {
    background-color: #333; }

/*****************************************************************************/
.preload {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white; }
  .preload .pie {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 150px;
    clip: rect(0px, 120px, 240px, 0px);
    background: #afe4dd;
    left: 50%;
    top: 30%;
    margin: -120px; }
  .preload .persent {
    margin-top: 180px;
    text-indent: 6px;
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
    color: #b4b4b4;
    font-size: .16rem;
    text-align: center; }
  .preload .covert {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    top: 30%;
    margin: -50px;
    overflow: hidden; }
    .preload .covert .cover {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

@-webkit-keyframes waitthum {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); } }

@keyframes waitthum {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); } }
  .preload .waitthum {
    -webkit-animation-name: waitthum;
    animation-name: waitthum;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

/*****************************************************************************/
@font-face {
  font-family: "fontawesome";
  src: url("../font/fontawesome-webfont.woff?v1") format("woff"); }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  * {
    box-sizing: border-box; }
  header, nav, section {
    width: 100%; }
  header .slogan {
    display: block; }
  header .menu {
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    header .menu .menu-icon {
      display: inline-block;
      font-size: .24rem;
      line-height: .44rem; }
      header .menu .menu-icon:before {
        content: ""; }
    header .menu .menu-list {
      display: none; }
  header .menu-expand {
    border-radius: .05rem;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 0 0.1rem 0.1rem;
    margin-right: -.11rem;
    margin-top: .03rem; }
    header .menu-expand .menu-icon {
      margin-top: -.04rem; }
    header .menu-expand .menu-list {
      display: block;
      overflow: hidden; }
      header .menu-expand .menu-list dl {
        float: none;
        line-height: .24rem; }
  .github-fork {
    display: none; } }
