@charset "UTF-8";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  height: 100%;
  font: 0.16rem "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  *font-size: small;
  text-align: center;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 100%;
  margin-top: .3rem;
  margin-bottom: .12rem; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a {
  color: #000;
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:visited {
    color: #000; }
  a:hover {
    color: #999; }

table {
  font-size: inherit;
  font: 100%; }

ul {
  list-style: none; }

header {
  width: 100%;
  height: .44rem;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header a {
    text-decoration: none; }
    header a.extra {
      color: #aaa;
      margin-left: 1em; }
      header a.extra:hover {
        color: #fff; }

nav {
  margin: 0 auto;
  width: 100%;
  max-width: 8rem;
  box-sizing: border-box;
  padding: 0 0.24rem;
  display: inline-block;
  height: .44rem;
  color: #333; }
  nav .slogan {
    float: left;
    display: inline;
    text-align: left; }
    nav .slogan a {
      color: #333;
      font-size: .24rem;
      line-height: .44rem;
      font-weight: 700; }
    nav .slogan:hover {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  nav .menu {
    float: right;
    display: inline;
    line-height: .44rem; }
    nav .menu dl {
      float: left;
      font-size: .16rem;
      height: .44rem;
      line-height: .44rem;
      padding: 0 0.06rem;
      cursor: pointer; }
      nav .menu dl a {
        color: #777; }
        nav .menu dl a:link, nav .menu dl a:visited, nav .menu dl a:hover, nav .menu dl a:active {
          color: #777; }
      nav .menu dl:hover {
        background: #000;
        transition: 1s ease-out; }
        nav .menu dl:hover a {
          color: #fff;
          text-decoration: underline; }

article {
  min-height: 50%;
  padding-top: .24rem; }

section {
  font-size: 110%;
  text-align: left;
  width: 100%;
  max-width: 8rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.44rem 0.24rem 0;
  line-height: 1.5em; }

footer {
  font-size: .14rem;
  color: #666;
  border-top: 1px solid #ddd;
  overflow: hidden;
  text-align: justify;
  padding: 0.12rem 0 0.36rem; }
  footer .contact {
    display: inline-block;
    width: 50%; }
    footer .contact a {
      color: #8085c1; }
    footer .contact:nth-of-type(2) {
      text-align: right; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    padding-left: 0;
    margin: .2rem 0;
    border-radius: 0; }
    .pagination ul li {
      display: inline; }
      .pagination ul li a, .pagination ul li span {
        position: relative;
        float: left;
        padding: 6px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        color: #428bca;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
        cursor: pointer; }
        .pagination ul li a:hover, .pagination ul li span:hover {
          color: #2a6496;
          background-color: #eee;
          border-color: #ddd; }
    .pagination ul .active span {
      z-index: 2;
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;
      cursor: default; }
    .pagination ul .disabled span {
      color: #999;
      background-color: #fff;
      border-color: #ddd;
      cursor: not-allowed; }

/*****************************************************************************/
.content {
  min-height: 3rem; }
  .content img {
    margin: .1rem 0;
    width: 100%; }

.posts {
  list-style-type: none;
  width: 100%; }
  .posts .post {
    border-radius: .05rem;
    padding: 0 0 0.12rem;
    margin-bottom: .12rem;
    width: 100%;
    border-bottom: 1px dashed #ccc; }
    .posts .post .title {
      margin: 0;
      line-height: 1.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .posts .post .date {
      margin-top: -.05rem; }
    .posts .post .date + p {
      font-size: 90%;
      line-height: 1.4;
      margin: .05rem 0; }
      .posts .post .date + p:before {
        font-family: "fontawesome";
        content: "";
        margin-right: .12rem; }
      .posts .post .date + p:after {
        font-family: "fontawesome";
        content: "";
        margin-left: .12rem; }
    .posts .post .tags {
      display: inline-block;
      width: 80%; }
      .posts .post .tags .tag {
        color: #428bca;
        text-decoration: none;
        font-style: italic; }
        .posts .post .tags .tag:after {
          content: ','; }
        .posts .post .tags .tag:last-child:after {
          content: ''; }
    .posts .post .more {
      display: inline-block;
      width: 20%;
      text-align: right; }
      .posts .post .more:after {
        content: ""; }
    .posts .post:last-child {
      margin-bottom: 0;
      border-bottom: none; }
  .posts span {
    color: #aaa;
    font-family: sans-serif, Courier New, "Lucida Grande";
    font-size: 80%; }

ul.tags {
  margin: 0.12rem 0 0.24rem; }
  ul.tags li {
    display: inline-block;
    line-height: .3rem;
    margin: 0 0.02rem;
    cursor: pointer; }

.highlight {
  -webkit-font-smoothing: subpixel-antialiased; }

.related {
  margin-top: .3rem;
  margin-bottom: .1rem; }
  .related h2 {
    margin-bottom: .1rem; }
  .related ul li {
    background: white; }

.backToTop {
  display: none;
  width: .3rem;
  height: .3rem;
  line-height: .26rem;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: fixed;
  right: .22rem;
  bottom: .4rem;
  cursor: pointer;
  border: 2px solid white; }
  .backToTop:before {
    content: "";
    font-size: .16rem; }

.github-fork img {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100; }

/**
 * Page Css
 ****************************************************************************/
.preload {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  background-size: 100%; }
  .preload .pie {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 150px;
    clip: rect(0px, 120px, 240px, 0px);
    background: #afe4dd;
    left: 50%;
    top: 30%;
    margin: -120px; }
  .preload .persent {
    margin-top: 180px;
    text-indent: 6px;
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
    color: #b4b4b4;
    font-size: .16rem;
    text-align: center; }
  .preload .covert {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    top: 30%;
    margin: -50px;
    overflow: hidden; }
    .preload .covert .cover {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

@-webkit-keyframes waitthum {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); } }

@keyframes waitthum {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5); } }
  .preload .waitthum {
    -webkit-animation-name: waitthum;
    animation-name: waitthum;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.bg {
  width: 100%;
  margin-top: -.24rem; }

.project {
  padding: 0 0 0.12rem;
  margin-bottom: .12rem;
  border-bottom: 1px dashed #ccc; }
  .project a {
    text-decoration: none; }
  .project .title {
    font-size: .16rem;
    color: black;
    display: inline-block;
    margin-bottom: .12rem; }
  .project .preview img {
    width: 100%; }
  .project .tags span {
    font-size: .16rem;
    font-style: italic;
    display: inline-block;
    margin-left: .05rem; }
  .project:last-child {
    border-bottom: none; }

/**
 * Common Defination
 ****************************************************************************/
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.center {
  width: 100%;
  margin: 0 auto; }

/**
 * Icon Defination
 ****************************************************************************/
.icon {
  font-family: "fontawesome"; }

.icon-tag:before {
  content: ""; }

.icon-tags:before {
  content: ""; }

.icon-quote-left:before {
  content: ""; }

.icon-quote-right:after {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

/**
 * Media Query
 ***************************************************************************/
@font-face {
  font-family: "fontawesome";
  src: url("../font/fontawesome-webfont.woff?v=4.4.0") format("woff"); }

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  .github-fork {
    display: none; } }

@media only screen and (max-width: 667px) and (orientation: portrait) {
  * {
    box-sizing: border-box; }
  header, nav, section {
    width: 100%; }
  header .slogan {
    display: block; }
  header .menu {
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    header .menu .menu-icon {
      display: inline-block;
      font-size: .24rem;
      line-height: .44rem; }
      header .menu .menu-icon:before {
        content: ""; }
    header .menu .menu-list {
      display: none; }
  header .menu-expand {
    border-radius: .05rem;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 0 0.1rem 0.1rem;
    margin-right: -.11rem;
    margin-top: .02rem; }
    header .menu-expand .menu-icon {
      margin-top: -.03rem; }
    header .menu-expand .menu-list {
      display: block;
      overflow: hidden; }
      header .menu-expand .menu-list dl {
        float: none;
        line-height: .24rem;
        height: .24rem;
        padding: 0; }
        header .menu-expand .menu-list dl:hover {
          background: transparent; }
          header .menu-expand .menu-list dl:hover a {
            color: #fff;
            text-decoration: underline; }
  .bg {
    margin: -0.24rem 0 0 -0.24rem;
    width: -webkit-calc(100% + .48rem);
    width: -moz-calc(100% + .48rem);
    width: calc(100% + .48rem); }
  .github-fork {
    display: none; } }
