body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:429px;
  height:839px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:115px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:709px;
  width:360px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:44px;
  top:139px;
  width:360px;
  height:474px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:474px;
}
#u7 {
  position:absolute;
  left:2px;
  top:230px;
  width:356px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:44px;
  top:477px;
  width:360px;
  height:233px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:233px;
}
#u9 {
  position:absolute;
  left:2px;
  top:108px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:55px;
  top:521px;
  width:331px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:331px;
  height:2px;
}
#u11 {
  position:absolute;
  left:63px;
  top:592px;
  width:270px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:63px;
  top:492px;
  width:270px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:63px;
  top:539px;
  width:270px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:55px;
  top:621px;
  width:331px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:331px;
  height:2px;
}
#u18 {
  position:absolute;
  left:48px;
  top:483px;
  width:7px;
  height:5px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:62px;
  top:645px;
  width:270px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:54px;
  top:676px;
  width:331px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:331px;
  height:2px;
}
#u23 {
  position:absolute;
  left:55px;
  top:570px;
  width:331px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:314px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:331px;
  height:2px;
}
