@import "base/fonts";
@import "base/colors";
@import "base/icons";

@import "md";
@import "syntax";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: #262a30;
    color: #fff;
}

html {
    font-size: 100px;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    font: .16rem $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6;
    font-weight: 300;
    *font-size: small;
    text-align: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 100%;
    margin-top: .3rem;
    margin-bottom: .12rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a {
    color: $black;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    &:visited {
        color: $black;
    }
    &:hover {
        color: $color_mountain_mist_approx;
    }
}

table {
    font-size: inherit;
    font: 100%;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: .44rem;
    overflow: visible;

    position: fixed;
    top: 0;
    z-index: 10;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        &.extra {
            color: $color_silver_chalice_approx;
            margin-left: 1em;
            &:hover {
                color: $white;
            }
        }
    }
}

nav {
    margin: 0 auto;
    width: 100%;
    max-width: 8rem;
    box-sizing: border-box;

    padding: 0 .24rem;
    display: inline-block;

    height: .44rem;
    color: #333;
    // line-height: .44rem;

    .slogan {
        float: left;
        display: inline;
        text-align: left;

        a {
            color: #333;
            font-size: .24rem;
            line-height: .44rem;
            font-weight: 700;
        }

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }

    .menu {
        float: right;
        display: inline;
        line-height: .44rem;


        dl {
            float: left;
            font-size: .16rem;
            height: .44rem;
            line-height: .44rem;
            padding: 0 .06rem;
            cursor: pointer;

            a {
                color: #777;

                &:link, &:visited, &:hover, &:active {
                    color: #777;
                }
            }

            &:hover {
                background: #000;
                transition: 1s ease-out;
                // transition: 1s cubic-bezier(.25,.1,.2,3);

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}

article {
    min-height: 50%;
    padding-top: .24rem;
}

section {
    font-size: 110%;
    text-align: left;
    width: 100%;
    max-width: 8rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: .44rem .24rem 0;
    line-height: 1.5em;
}

footer {
    font-size: .14rem;
    color: $color_storm_dust_approx;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-align: justify;
    padding: .12rem 0 .36rem;

    .contact {
        display: inline-block;
        width: 50%;

        a {
            color: $color_wild_blue_yonder_approx;
        }

        &:nth-of-type(2) {
            text-align: right;
        };
    }
}

.pagination {
    text-align: center;

    ul {
        display: inline-block;
        padding-left: 0;
        margin: .2rem 0;
        border-radius: 0;

        li {
            display: inline;

            a, span {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #428bca;
                background-color: #fff;
                border: 1px solid #ddd;
                margin-left: -1px;
                cursor: pointer;

                &:hover {
                    color: #2a6496;
                    background-color: #eee;
                    border-color: #ddd;
                }
            }
        }

        .active {
            span {
                z-index: 2;
                color: #fff;
                background-color: #428bca;
                border-color: #428bca;
                cursor: default;
            }
        }

        .disabled {
            span {
                color: #999;
                background-color: #fff;
                border-color: #ddd;
                cursor: not-allowed;
            }
        }
    }
}

/*****************************************************************************/

.content {
    min-height: 3rem;

    img {
        margin: .1rem 0;
        width: 100%;
    }
}

.posts {
    list-style-type: none;
    width: 100%;

    .post {
        // background: #ddd;
        border-radius: .05rem;
        padding: 0 0 .12rem;
        margin-bottom: .12rem;
        width: 100%;
        border-bottom: 1px dashed #ccc;

        .title {
            margin: 0;
            line-height: 1.7;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .date {
            margin-top: -.05rem;
        }

        .date + p {
            font-size: 90%;
            line-height: 1.4;
            margin: .05rem 0;

            &:before {
                font-family: 'fontello';
                content: '\e801';
                margin-right: .12rem;
            }

            &:after {
                font-family: 'fontello';
                content: '\e802';
                margin-left: .12rem;
            }
        }

        .tags {
            display: inline-block;
            width: 80%;

            .tag {
                color: #428bca;
                text-decoration: none;
                font-style: italic;

                &:after {
                    content: ',';
                }

                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }

        .more {
            display: inline-block;
            width: 20%;
            text-align: right;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

    }

    span {
        color: $color_silver_chalice_approx;
        font-family: $font_6, $font_7, $font_5;
        font-size: 80%;
    }
}

ul.tags {
    margin: .12rem 0 .24rem;

    li {
        display: inline-block;
        line-height: .3rem;
        margin: 0 .02rem;
        cursor: pointer;
    }
}

.highlight {
    -webkit-font-smoothing: subpixel-antialiased;
}

.related {
    margin-top: .3rem;
    margin-bottom: .1rem;

    h2 {
        margin-bottom: .1rem;
    }

    ul {
        li {
            background: white;
        }
    }
}

.backToTop {
    display: none;
    width: .3rem;
    height: .3rem;
    line-height: .26rem;
    background-color: $black;
    border-radius: 50%;
    color: $white;
    text-align: center;
    position: fixed;
    right: .22rem;
    bottom: .4rem;
    cursor: pointer;
    border: 2px solid white;

    &:before {
        font-size: .16rem;
    }
}

.github-fork {
    img {
        position: fixed;
        top: 0;
        right: 0;
        border: 0;
        z-index:100;
    }
}

/**
 * Page Css
 ****************************************************************************/

.preload {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    // background-image: url('../img/bg.jpg');
    background-size: 100%;

    .pie {
        position: absolute;
        width: 240px;
        height: 240px;
        border-radius: 150px;
        clip: rect(0px,120px,240px,0px);
        background: rgba(175,228,221,1);
        left: 50%;
        top: 30%;
        margin: -120px;
    }

    .persent {
        margin-top: 180px;
        text-indent: 6px;
        position: absolute;
        top: 30%;
        width: 100%;
        left: 0;
        color: rgb(180,180,180);
        font-size: .16rem;
        text-align: center;
    }

    .covert {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 50%;
        top: 30%;
        margin: -50px;
        overflow: hidden;

        .cover {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    @-webkit-keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.00,1.00,1.00);
            transform: scale3d(1.00,1.00,1.00);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    @keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.05,1.05,1.05);
            transform: scale3d(1.05,1.05,1.05);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    .waitthum {
        -webkit-animation-name: waitthum;
        animation-name: waitthum;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}

.bg {
    width: 100%;
}

.project {
    padding: 0 0 .12rem;
    margin-bottom: .12rem;
    border-bottom: 1px dashed #ccc;

    // &:hover {
    //     transform: perspective(600px) translateZ(30px);
    // }

    a {
        text-decoration: none;
    }

    .title {
        font-size: .16rem;
        color: black;
        display: inline-block;
        margin-bottom: .12rem;
    }

    .preview {
        img {
            width: 100%;
        }
    }

    .tags {
        span {
            font-size: .16rem;
            font-style: italic;
            display: inline-block;
            margin-left: .05rem;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

/**
 * Common Defination
 ****************************************************************************/

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    width: 100%;
    margin: 0 auto;
}

/**
 * Icon Defination
 ****************************************************************************/
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?26946344');
    src: url('../font/fontello.eot?26946344#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?26946344') format('woff'),
         url('../font/fontello.ttf?26946344') format('truetype'),
         url('../font/fontello.svg?26946344#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'fontello';
}

.icon-tag:before { content: '\e800'; }
.icon-quote-left:before { content: '\e801'; }
.icon-quote-right:before { content: '\e802'; }
.icon-up-big:before { content: '\e803'; }
.icon-down-big:before { content: '\e804'; }
.icon-left-big:before { content: '\e805'; }
.icon-right-big:after { content: '\e806'; }
.icon-menu:before { content: '\e807'; }
.icon-tags:before { content: '\e808'; }
.icon-angle-left:before { content: '\e809'; }
.icon-angle-right:after { content: '\e80a'; }
.icon-angle-up:before { content: '\e80b'; }
.icon-angle-down:before { content: '\e80c'; }

/**
 * Media Query
 ***************************************************************************/

@media only screen and(max-width: 1080px) and(orientation : portrait){
    .github-fork {
        display: none;
    }
}

@media only screen and(max-width: 667px) and(orientation : portrait) {
    * {
        box-sizing: border-box;
    }

    header, nav, section {
        width: 100%;
    }

    header {
        .slogan {
            display: block;
        }

        .menu {
            display: inline-block;
            text-decoration: none;
            text-rendering: auto;
            text-align: right;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .menu-icon {
                display: inline-block;
                font-size: .24rem;
                line-height: .44rem;

                &:before {
                    font-family: 'fontello';
                    content: '\e807';
                }
            }

            .menu-list {
                display: none;
            }
        }

        .menu-expand {
            border-radius: .05rem;
            border: 1px solid #e8e8e8;
            background-color: white;
            padding: 0 .1rem .1rem;
            margin-right: -.11rem;
            margin-top: .02rem;

            .menu-icon {
                margin-top: -.03rem;
            }

            .menu-list {
                display: block;
                overflow: hidden;

                dl {
                    float: none;
                    line-height: .24rem;
                    height: .24rem;
                    padding: 0;

                    &:hover {
                        background: transparent;

                        a {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .bg {
        margin: -.24rem 0 0 -.24rem;
        width: -webkit-calc(100% + .48rem);
        width: -moz-calc(100% + .48rem);
        width: calc(100% + .48rem);
    }

    .github-fork {
        display: none;
    }
}