@import "base/variables";
@import "base/mixins";
@import "base/icons";

@import "md";
@import "syntax";
@import "eve";
@import "media";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: #262a30;
    color: #fff;
}

html {
    font-size: 100px;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    font: .32rem $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6;
    font-weight: 300;
    *font-size: small;
    text-align: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 100%;
    margin-top: .6rem;
    margin-bottom: .24rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a {
    color: $black;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    &:visited {
        color: $black;
    }
    &:hover {
        color: $color_mountain_mist_approx;
    }
}

table {
    font-size: inherit;
    font: 100%;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: .88rem;
    overflow: visible;

    position: fixed;
    top: 0;
    z-index: 10;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        &.extra {
            color: $color_silver_chalice_approx;
            margin-left: 1em;
            &:hover {
                color: $white;
            }
        }
    }
}

nav {
    margin: 0 auto;
    width: 100%;
    max-width: 16rem;
    box-sizing: border-box;

    padding: 0 .24rem;
    display: inline-block;

    height: .88rem;
    color: #333;
    // line-height: .44rem;

    .slogan {
        float: left;
        display: inline;
        text-align: left;

        a {
            color: #333;
            font-size: .48rem;
            line-height: .88rem;
            font-weight: 700;
        }

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }

    .menu {
        float: right;
        display: inline;
        line-height: .88rem;


        dl {
            float: left;
            font-size: .32rem;
            height: .88rem;
            line-height: .88rem;
            padding: 0 .12rem;
            cursor: pointer;

            a {
                color: #777;

                &:link, &:visited, &:hover, &:active {
                    color: #777;
                }
            }

            &:hover {
                background: #000;
                transition: 1s ease-out;
                // transition: 1s cubic-bezier(.25,.1,.2,3);

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}

article {
    min-height: 50%;
    padding-top: .24rem;
}

section {
    text-align: left;
    width: 100%;
    max-width: 16rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: .88rem .24rem 0;
    line-height: 1.5em;
}

footer {
    font-size: .28rem;
    color: $color_storm_dust_approx;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-align: justify;
    padding: .24rem 0 .72rem;

    .contact {
        display: inline-block;
        width: 50%;

        a {
            color: $color_wild_blue_yonder_approx;
        }

        &:nth-of-type(2) {
            text-align: right;
        };
    }
}

.pagination {
    text-align: center;

    ul {
        display: inline-block;
        padding-left: 0;
        margin-bottom: .24rem;
        border-radius: 0;

        li {
            display: inline;

            a, span {
                position: relative;
                float: left;
                line-height: 1.65;
                text-decoration: none;
                margin-left: -1px;
                cursor: pointer;
                height: .6rem;
                width: .6rem;
                border-radius: 50%;

                &:hover {
                    color: #000;
                    background-color: #ddd;
                    border-color: #000;
                }
            }
        }

        .active {
            span {
                z-index: 2;
                color: #fff;
                background-color: #000;
                border-color: #000;
                cursor: default;

                &:hover {
                    color: #fff;
                    background-color: #000;
                    border-color: #000;
                }
            }
        }

        .disabled {
            a, span {
                color: #999;
                background-color: #fff;
                border-color: #ddd;
                cursor: not-allowed;
            }
        }
    }
}

/*****************************************************************************/

.content {
    min-height: 6rem;

    img {
        margin: .2rem 0;
        width: 100%;
    }

    .anchor {
        padding-top: .8rem;
        margin-top: -.8rem;
        position: static;
    }
}

.posts {
    list-style-type: none;
    width: 100%;

    .post {
        // background: #ddd;
        border-radius: .1rem;
        padding: 0 0 .24rem;
        margin-bottom: .24rem;
        width: 100%;
        border-bottom: 1px dashed #ccc;

        .title {
            font-size: .32rem;
            margin: 0;
            line-height: 1.7;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .date {
            font-size: .28rem;
            margin-top: -.1rem;
        }

        .date + p {
            font-size: .28rem;
            line-height: 1.4;
            margin: .1rem 0;

            &:before {
                font-family: 'fontello';
                content: '\e801';
                margin-right: .24rem;
            }

            &:after {
                font-family: 'fontello';
                content: '\e802';
                margin-left: .24rem;
            }
        }

        .tags {
            display: inline-block;
            width: 80%;
            font-size: .28rem;

            .tag {
                color: #428bca;
                text-decoration: none;
                font-style: italic;

                &:after {
                    content: ',';
                }

                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }

        .more {
            display: inline-block;
            width: 20%;
            text-align: right;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

    }

    span {
        color: $color_silver_chalice_approx;
        font-family: $font_6, $font_7, $font_5;
        font-size: 80%;
    }
}

ul.tags {
    margin: .24rem 0 .48rem;

    li {
        display: inline-block;
        line-height: .6rem;
        margin: 0 .04rem;
        cursor: pointer;
    }
}

.highlight {
    -webkit-font-smoothing: subpixel-antialiased;
}

.related {
    margin-top: .6rem;
    margin-bottom: .2rem;

    h2 {
        font-size: .28rem;
        margin-bottom: .2rem;
    }

    ul {
        font-size: .24rem;

        li {
            background: white;
        }
    }
}

.backToTop {
    display: none;
    width: .6rem;
    height: .6rem;
    line-height: .52rem;
    background-color: $black;
    border-radius: 50%;
    color: $white;
    text-align: center;
    position: fixed;
    right: .24rem;
    bottom: .8rem;
    cursor: pointer;
    border: 2px solid white;

    &:before {
        font-size: .32rem;
    }
}

.github-fork {
    img {
        position: fixed;
        top: 0;
        right: 0;
        border: 0;
        z-index:100;
    }
}

/**
 * Page Css
 ****************************************************************************/

.preload {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    background-size: 100%;

    .persent {
        margin-top: 3.6rem;
        text-indent: .12rem;
        position: absolute;
        top: 30%;
        width: 100%;
        left: 0;
        color: rgb(180,180,180);
        font-size: .32rem;
        text-align: center;
    }

    .covert {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        left: 50%;
        top: 30%;
        margin: -1rem;
        overflow: hidden;

        .cover {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    @-webkit-keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.00,1.00,1.00);
            transform: scale3d(1.00,1.00,1.00);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    @keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.05,1.05,1.05);
            transform: scale3d(1.05,1.05,1.05);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    .wthum {
        position: absolute;
        width: 2.04rem;
        height: 2.04rem;
        border-radius: 1.2rem;
        left: 50%;
        top: 30%;
        margin: -1.02rem;
        background: rgb(57, 187, 171);
    }

    .waitthum {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 6.8rem;
        left: 50%;
        top: 30%;
        margin: -2rem;
        background: rgba(57, 187, 171, 0.4);

        -webkit-animation-name: waitthum;
        animation-name: waitthum;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}

.bg {
    width: 100%;
}

.project {
    padding: 0;
    margin-bottom: .24rem;
    border-bottom: 1px dashed #ccc;

    // &:hover {
    //     transform: perspective(600px) translateZ(30px);
    // }

    a {
        text-decoration: none;
    }

    .title {
        font-size: .32rem;
        color: black;
        display: inline-block;
        margin-bottom: .24rem;
    }

    .preview {
        height: 8rem;
        overflow: hidden;
    }

    .tags {
        margin: .12rem;

        span {
            font-size: .32rem;
            font-style: italic;
            display: inline-block;
            margin-left: .1rem;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.weparty {
    dl {

        h3 {
            font-size: .4rem;
            line-height: 1;
            display: block;
            margin-top: .6rem;
            margin-bottom: .2rem;
        }

        h4 {
            font-size: .32rem;
            color: #333;
            line-height: 1;
            display: block;
            margin-bottom: .2rem;
        }

        .ui {

            li {
                height: 4.6rem;
                overflow: hidden;
                margin-bottom: .2rem;
            }

            .design {
                height: 8.8rem;
            }
        }

        .page {
            font-size: 0;
            margin-right: -.24rem;

            li {
                width: 2.25rem;
                height: 2.25rem;
                margin-right: .13rem;

                display: inline-block;
                overflow: hidden;
                @include box-sizing(border-box);
            }
        }
    }
}

/**
 * Common Defination
 ****************************************************************************/

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    width: 100%;
    margin: 0 auto;
}



