.party-back {

}

.party-email {
	padding-right: 110px;
}

.party-active a {
    border-bottom: 2px #3dd6d1 solid;
}

.party-active span {
	display: inline-block;
	width: 100%;
	color: #3dd6d1;
    border-bottom: 2px #3dd6d1 solid;
    box-sizing: border-box;
    height: 45px;
}

.party-text-weak {
	color: #999;
	font-size: 14px;
}

.party-lazy {
	width: 355px;
	height: 200px;
}

.party-avatar-wrap {
	padding: 1px 0;
}

.party-choosed {
	border: 1px solid #3dd6d1;
	margin-top: -1px;
}

div.party-avatar {
	width: 96px;
    margin-left: auto;
    margin-right: auto;
}

img.party-avatar-img {
	width:96px;
	height:96px;
	display:block;
}

input.party-avatar-input {
	position: static;
	margin-top: -96px;
	display: block;
}