---
layout: default
description: Thanks for comming and Please star and fork in Github if u like my blog.
keywords: 有田十三,javascript,web,github,blog
---

<div class="home">
    <img class="bg" src="{{ site.STATIC_HOST }}/static/img/bg.jpg">
    <ul class="tags">
    {% for tag in site.tags %}
        {% assign title = tag | first %}
        {% assign posts_size = tag | last | size%}
        {% assign random =  title | size %}
        {% if random > 3 and random < 10 %}
            {% assign random = random | divided_by:2.5 | replace: '.', '' %}
        {% endif%}
        <li style="font-size: .{{random}}rem;">
            <a href="/tags/{{title | downcase}}/">
                <span>{{ title | downcase | replace:" ","-" }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

