body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:429px;
  height:839px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:115px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:709px;
  width:360px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:220px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:220px;
  width:190px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u9 {
  position:absolute;
  left:65px;
  top:257px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:65px;
  top:294px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:65px;
  top:399px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:65px;
  top:429px;
  width:315px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:65px;
  top:469px;
  width:317px;
  height:111px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:111px;
}
#u18 {
  position:absolute;
  left:2px;
  top:48px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:88px;
  top:485px;
  width:78px;
  height:79px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:79px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:182px;
  top:485px;
  width:82px;
  height:79px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:79px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:282px;
  top:485px;
  width:78px;
  height:79px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:79px;
}
#u24 {
  position:absolute;
  left:2px;
  top:29px;
  width:74px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:63px;
  top:650px;
  width:317px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:30px;
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u25_img.disabled {
}
#u25.disabled {
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:313px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:44px;
  top:140px;
  width:360px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:53px;
  top:148px;
  width:30px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:190px;
  top:290px;
  width:190px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u32 {
  position:absolute;
  left:190px;
  top:325px;
  width:190px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u33 {
  position:absolute;
  left:65px;
  top:367px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:190px;
  top:367px;
  width:190px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.disabled {
}
#u35.disabled {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:190px;
  top:253px;
  width:20px;
  height:26px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:217px;
  top:258px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:65px;
  top:601px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:190px;
  top:595px;
  width:192px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
