body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:429px;
  height:839px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:115px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:709px;
  width:360px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:44px;
  top:140px;
  width:366px;
  height:570px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:570px;
}
#u7 {
  position:absolute;
  left:2px;
  top:277px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:44px;
  top:140px;
  width:366px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:372px;
  top:150px;
  width:18px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:108px;
  top:294px;
  width:227px;
  height:56px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:56px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:120px;
  top:310px;
  width:50px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
