.ops {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: .2rem; }
  .ops button {
    font-size: .3rem;
    color: #333;
    height: .5rem;
    line-height: .5rem;
    margin-right: .12rem;
    border-radius: .04rem;
    border: 1px solid #000;
    appearance: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .ops button:last-child {
      margin: 0; }
  .ops .active {
    font-weight: 700; }

.preview {
  margin-bottom: .2rem; }
  .preview p {
    line-height: 1;
    margin-bottom: .1rem; }

.canvas {
  max-width: 100%; }
