body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:429px;
  height:839px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:115px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:709px;
  width:360px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:46px;
  top:429px;
  width:356px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:46px;
  top:479px;
  width:356px;
  height:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:46px;
  top:529px;
  width:356px;
  height:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:46px;
  top:579px;
  width:356px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:42px;
  top:473px;
  width:363px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:363px;
  height:2px;
}
#u15 {
  position:absolute;
  left:42px;
  top:523px;
  width:363px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:363px;
  height:2px;
}
#u16 {
  position:absolute;
  left:42px;
  top:573px;
  width:363px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:346px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:363px;
  height:2px;
}
#u17 {
  position:absolute;
  left:71px;
  top:444px;
  width:333px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:71px;
  top:493px;
  width:333px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:71px;
  top:543px;
  width:333px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:71px;
  top:593px;
  width:333px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:44px;
  top:140px;
  width:360px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:44px;
  top:637px;
  width:360px;
  height:72px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  word-wrap:break-word;
}
