//fonts
$font_0: "HelveticaNeue-Light";
$font_1: "Helvetica Neue Light";
$font_2: "Helvetica Neue";
$font_3: Helvetica;
$font_4: Arial;
$font_5: "Lucida Grande";
$font_6: sans-serif;
$font_7: Courier New;
$font_8: Microsoft YaHei;