/* Global Reset */

* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

body, button, input, select, textarea {
	font:12px/1.5 Helvetica, arial, freesans, clean, sans-serif;
	color:#333;
	text-align: center;
}

body {
	background: #fff;
}

ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
	color: #999;
}

a:visited {
	color: #999;
}

a:hover {
	color: #000;
}

html, img {
	border: 0;
}

section {
	position: relative;
	top: 50px;
	width: 60%;
	margin: 0 auto;
	min-height: 500px;
	overflow: hidden;
	padding: 10px;

}

.left{

}

.right {
	margin-top: -422px;
	float: right;
	width: 220px;
	border: 1px solid #999;
	background: #fff;
	padding: 20px;
	-webkit-transition: all 0.8s ease;
}

.right:hover {
	margin-top: 0px;
	-webkit-transition: all 0.8s ease;
}

.title {
	font-size: 400%;
	text-align: left;
	margin-bottom: 20px;
}

.form .input input {
	border: 1px solid #bababa;
	margin-bottom: 15px;
	font-size: 14px;
	padding: 5px;
	height: 23px;
	width: 208px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: left;
}

.persistency {
	font-size: 12px;
	color: #222;
	padding-bottom: 18px;
}

.persistency .checkbox {
	display: inline-block;
	width: 12px;
	height: 12px;
}

.form a {
	display: block;
	background: #6e329d;
	color: #fff;
	font: 13px bold;
	width: 100%;
	height: 24px;
	padding-top: 10px;
	text-decoration: none;
	margin-bottom: 20px;
}

.form a:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.signup {
	border-top: 1px solid #dfdfdf;
	margin-top: 10px;
	padding-top: 20px;
	position: relative;
}

.signup span {
	color: #666;
	background: #fff;
	position: absolute;
	top: -10px;
	width: 50px;
	left: 85px;
}

.signup a {
	color: #fff;
	background: #0b70be;
	display: block;
	height: 24px;
	padding-top: 10px;
	text-decoration: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #0b5fa2;
}

.signup a:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.tag {
	width: 50px;
	height: 30px;
	margin: 0 auto;
	color: #fff;
	background: #c00;
	position: relative;
	bottom: -50px;
	line-height: 30px;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
}

footer {
	border-top: 1px solid #ccc;
	padding: 20px 0 50px 0;
	width: 60%;
	margin: 0 auto;
	color: #ccc;
}

