/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%; 
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

body, input, select, textarea {
	font:12px/1.5 Helvetica, arial, freesans, clean, sans-serif;
	color:#333;
	text-align: center;
}

p {
 	color: #ccc
}

ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
	color: #ccc;
}

a:visited {
	color: #ccc;
}

a:hover {
	color: #000;
}

html, img {
	border: 0;
}

span {
	color: #ccc;
}

/* Header */
.nav {
	height: 28px;
	font-size: 12px;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #dfdfdf, 0 0 5px 3px #f0f0f0;
	background: #f5f5f5;
}

.nav .nav_center {
	position: relative;
	margin: 0 auto;
	width: 980px;
	z-index: 90;
}

.nav .nav_center ul {
	float: right;
}

.nav .nav_center ul li {
	float: left;
	display: inline-block;
	padding: 0 8px;
	margin: 6px 0;
	height: 16px;
	vertical-align: top;
	border-left: 1px solid #ccc;
}

.master {
	position: relative;
	margin: 0 auto;
	height: 80px;
    padding-top: 20px;
	width: 980px;
	z-index: 80;
	border-bottom: 2px solid #4bc1d2;
}
.master:after{
    content:'';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    overflow: hidden;
}
.master .logo {
     float: left;
     display: block;
     width: 200px;
     height: 58px;
     line-height: 58px;
     overflow: hidden;
     font-size: 48px;
     color: #4bc1d2;
     font-weight: bold;
     text-align: left;
    background-image: url('../img/logo.png');
 }


.master .operators {
	float: right;
	margin-top: 15px;
}

.master .operators li {
	float: left;
	display: block;
	width: 70px;
	height: 46px;
}

/* Section */
section {
	min-height: 500px;
}

.center {
	width: 980px;
	margin: 0 auto;
	padding: 0 0 20px;
	margin-top: 10px;	
	background: #fff;
	border: 1px solid #d4d4d4;
}

.intro {
	position: relative;
	height: 113px;
	border-bottom: 1px solid #ddd;
	background: #fafafa url(../img/intro.jpg) no-repeat right;
	box-shadow: 0 2px 2px #eee;
}

.map_wrap {
	position: relative;
	padding: 30px 15px 45px 15px;
}

/* Login */ 
#divLogin {
	position: relative;
	width: 600px;
	height: 575px;
	margin: 0 auto;
	padding-top: 115px;
	overflow: hidden;
}

#divLogin .icon {
	overflow: hidden;
	float: left;
	height: 575px;
}

#divLogin .icon img {
	height: 130px;
	width: 245px;
	border-right: 1px solid #4bc1d2;
	padding-right: 115px;
}

#formLogin {
	float: right;
	width: 250px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 20px 0 50px 25px;
}

.form-item {
	margin-left: 0px;
}

.form-control {
	text-align: left;
	font-size: 12px;
	width: 200px;
}

#btnLogin {
	width: 200px;
	height: 30px;
	background: #4bc1d2;
	border: 0;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	margin-left: 0;
}



#btnLogin:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

/* Right side */
.right {
	float: right;
	position: relative;
	width: 328px;
	margin-right: 15px;
}

.right .search {
	float: right;
	margin-bottom: 2px;
	padding: 6px 6px 6px 8px;
	border: 1px solid #d7d7d7;
	border-right: 0;
	border-radius: 2px 0 0 2px;
	width: 230px;
	height: 35px;
	line-height: normal;
	background: #fff;
	outline: 0;
}

.right .submit {
	float: right;
	border: 0;
	border-radius: 0 3px 3px 0;
	width: 73px;
	height: 35px;
	outline: 0;
	background: url(../img/button.png) no-repeat;
	cursor: pointer;
	text-align: -99em;
	overflow: hidden;
}

/* Left side */
.left {
	overflow: hidden;
	position: relative;
	z-index: 0;
	color: #000;
	text-align: left;
	background-color: rgb(243,241,236);
}

#mapTest {
	float: left;
	width: 700px;
	height: 500px;
}

#divCurrentScreenAct {
	height: 465px;
	overflow-y: scroll;
    overflow-x: hidden;
	margin-left: 10px;
}

#divCurrentScreenAct h1 {
	font-size: 16px;
	padding: 10px 0 5px 0;
	margin-bottom: 10px;
    font-weight: bold;
    position: absolute;
    top: 18px;
    left: 32px
}

#divCurrentScreenAct table {
	border-spacing: 2px;
	border-color: gray;
	border-collapse: collapse;
	width: 100%;
    margin-top:35px;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: block;
	vertical-align: inherit;
	border-color: inherit;
	padding:0 0 5px 0;
}

th {
	width: 32px;
	text-align: left;
	vertical-align: top;
}

th div {
	cursor: pointer;
	height: 25px;
	width: 19px;
	margin: 4px 0 0 7px;
	background: url(../img/flag.png);
	background-size: 100%;
}

td {
    vertical-align: top;
    padding: 4px 5px 3px 3px;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
    display: table-cell;
    border-bottom: 1px solid #4bc1d2;
    width: 70%;
}

td .title {
	overflow: hidden;
	clear: both;
	height: auto;
	position: relative;
    font-size: 18px;
    padding: 1px;

}

td .title a {
    color: #5bc0de;
    font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

td img {
    padding-top: 5px;
	width: 50px;
	height: 50px;
}

.error{
    color: #B94A48;
}

.detail {
    display: block;
    padding: 10px 5px 5px 5px;
}

.detail tr {
    width: 100%;
}

.detail td {
    border: 0;
    padding: 0;
    margin: 0 0 5px;
}

.detail .title {
    font-size: 12px;
    font-weight: 700;
    width: 80px;
}

.detail .content {
    color: #666;
    width: 248px;
}

.btn-return {
    margin-top: 20px;
    float: right;
}



/* Footer */
footer {
    padding: 20px 0 50px 0;
    width: 980px;
    margin: 0 auto;
    color: #ccc;
}

footer .ref {
    color: #4bc1d2;
}