@import "base/fonts";
@import "base/colors";
@import "base/icons";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    font: .16rem "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    // font: .16rem $font_0, $font_1, $font_2, $font_3;
    *font-size: small;
    text-align: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 100%;
    margin-top: .3rem;
    margin-bottom: .12rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

p {
    margin: 1em 0;
}

a {
    color: $black;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    &:visited {
        color: $black;
    }
    &:hover {
        color: $color_mountain_mist_approx;
    }
}

table {
    font-size: inherit;
    font: 100%;
}

header {
    width: 100%;
    height: .44rem;
    overflow: visible;

    position: fixed;
    top: 0;
    z-index: 10;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        &.extra {
            color: $color_silver_chalice_approx;
            margin-left: 1em;
            &:hover {
                color: $white;
            }
        }
    }
}

nav {
    margin: 0 auto;
    width: 60%;
    min-width: 3.75rem;

    padding: 0 .24rem;
    display: inline-block;

    height: .44rem;
    color: #333;
    // line-height: .44rem;

    .slogan {
        float: left;
        display: inline;
        text-align: left;

        a {
            color: #333;
            font-size: .24rem;
            line-height: .44rem;
            font-weight: 700;
        }

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }

    .menu {
        float: right;
        display: inline;
        line-height: .44rem;


        dl {
            float: left;
            font-size: .16rem;
            height: .44rem;
            line-height: .44rem;
            padding: 0 .06rem;

            a {
                color: #777;

                &:link, &:visited, &:hover, &:active {
                    color: #777;
                }
            }

            &:hover {
                background: #000;
                transition: 1s ease-out;
                // transition: 1s cubic-bezier(.25,.1,.2,3);

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}

article {
    min-height: 50%;
    padding-top: .24rem;
}

section {
    font-size: 110%;
    text-align: left;
    width: 60%;
    min-width: 3.75rem;
    margin: 0 auto;
    padding: .44rem .24rem 0;
    line-height: 1.5em;
}

footer {
    font-size: .14rem;
    color: $color_storm_dust_approx;
    border-top: 1px solid #ddd;
    margin-top: 2em;
    overflow: hidden;
    text-align: justify;

    .contact {
        display: inline-block;
        width: 50%;

        a {
            color: $color_wild_blue_yonder_approx;
        }

        &:nth-of-type(2) {
            text-align: right;
        };
    }
}

.icon {
    font-family: $fa-font-name;
}

.github-fork {
    img {
        position: fixed;
        top: 0;
        right: 0;
        border: 0;
        z-index:100;
    }
}



/*****************************************************************************/

.content {
    min-height: 3rem;
}

.related {
    margin-top: .3rem;

    h2 {
        margin-bottom: .1rem;
    }
}

.posts {
    list-style-type: none;
    width: 100%;

    li {
        line-height: 1.7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        color: $color_silver_chalice_approx;
        font-family: $font_6, $font_7, $font_5;
        font-size: 80%;
    }
}

.wrap_proj {
    background: $black;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: .05rem;
    margin-bottom: .2rem;
    padding: .16rem;

    &:hover {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(600px) translateZ(30px);
    }

    a {
        color: white;
        text-decoration: none;
    }

    .preview {
        padding-top: .15rem;

        img {
            width: 100%;
        }
    }
}

.backToTop {
    display: none;
    width: .3rem;
    height: .3rem;
    line-height: .26rem;
    background-color: $black;
    border-radius: 50%;
    color: $white;
    text-align: center;
    position: fixed;
    right: .22rem;
    bottom: .4rem;
    cursor: pointer;
    border: 2px solid white;

    &:before {
        content: $fa-var-arrow-up;
        font-size: .16rem;
    }
}


/*****************************************************************************/

.preload {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    // background-image: url('../img/bg.jpg');
    background-size: 100%;

    .pie {
        position: absolute;
        width: 240px;
        height: 240px;
        border-radius: 150px;
        clip: rect(0px,120px,240px,0px);
        background: rgba(175,228,221,1);
        left: 50%;
        top: 30%;
        margin: -120px;
    }

    .persent {
        margin-top: 180px;
        text-indent: 6px;
        position: absolute;
        top: 30%;
        width: 100%;
        left: 0;
        color: rgb(180,180,180);
        font-size: .16rem;
        text-align: center;
    }

    .covert {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 50%;
        top: 30%;
        margin: -50px;
        overflow: hidden;

        .cover {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    @-webkit-keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.00,1.00,1.00);
            transform: scale3d(1.00,1.00,1.00);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    @keyframes waitthum {
        0% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }

        50% {
            -webkit-transform: scale3d(1.05,1.05,1.05);
            transform: scale3d(1.05,1.05,1.05);
        }

        100% {
            -webkit-transform: scale3d(0.5,0.5,0.5);
            transform: scale3d(0.5,0.5,0.5);
        }
    }

    .waitthum {
        -webkit-animation-name: waitthum;
        animation-name: waitthum;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}

/*****************************************************************************/

@font-face {
    font-family: $fa-font-name;
    src: url($fa-font-path) format("woff");
}

@media only screen and(min-device-width: 375px) and(max-device-width: 667px) and(orientation : portrait) {
    * {
        box-sizing: border-box;
    }

    header, nav, section {
        width: 100%;
    }

    header {
        .slogan {
            // float: none;
            display: block;
        }

        .menu {
            display: inline-block;
            text-decoration: none;
            text-rendering: auto;
            text-align: right;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .menu-icon {
                display: inline-block;
                font-size: .24rem;
                line-height: .44rem;

                &:before {
                    content: $fa-var-bars;
                }
            }

            .menu-list {
                display: none;
            }
        }

        .menu-expand {
            // float: none;
            border-radius: .05rem;
            border: 1px solid #e8e8e8;
            background-color: white;
            padding: 0 .1rem .1rem;
            margin-right: -.11rem;
            margin-top: .02rem;
            // box-shadow: 0 .02rem .05rem 0.05rem white;

            .menu-icon {
                margin-top: -.03rem;
            }

            .menu-list {
                display: block;
                overflow: hidden;

                dl {
                    float: none;
                    line-height: .24rem;
                    height: .24rem;
                    padding: 0;

                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }

        }
    }

    .github-fork {
        display: none;
    }
}